.woocommerce {
	// Price slider
	.widget_price_filter .ui-slider .ui-slider-range,
	.widget_price_filter .ui-slider .ui-slider-handle {
		background-color: var(--color-body);
	}	
	.price_label {
		clear: both;
		display: block;
		width: 100%;
		text-align: left;
	}
}